@import "_mixins.styl"

$bg_color = #97b3c9
$badge_color = $bg_color
$shadow = #4b5964


@media only screen and (min-width 1024px)
  .panel-body
    font-size 18px


body
  background-color $bg_color !important


.panel-heading
  color white !important
  background-image url(//cacilhas.info/img/montegasppa-title-bg.jpg) !important
  background-repeat no-repeat !important
  background-position center !important
  bg-size cover !important


.panel-heading > h2
  text-shadow $shadow 2px 2px 2px


.tag
  color white !important
  background-color $bg_color !important

.tag a
  color white


.badge
  background-color $badge_color !important


.hidden
  display none !important


.label-default
  background-color $badge_color !important


#release
  text-shadow black 1px 1px 1px
