@import "_mixins.styl"

$bg_color = #97b3c9
$badge_color = $bg_color
$shadow = #4b5964


@media only screen and (min-width 1024px)
  .panel-body
    font-size 18px


body
  background-color $bg_color !important
  font-family "Roboto", Helvetica, Arial, sans-serif !important

code
  font-family "Roboto Mono", Monaco, "Courier New", monospace !important

.panel-heading
  color white !important
  background-image url(/img/title-background.jpg) !important
  background-repeat no-repeat !important
  background-position center !important
  bg-size cover !important


.panel-heading > h2
  text-shadow $shadow 2px 2px 2px


.tag
  background-color $bg_color !important
  color white !important
  font-family "Roboto Mono", Monaco, "Courier New", monospace !important
  padding-left 1ex
  padding-right 1ex

.tag a
  color white

.tags
  width 100%
  text-align right

.badge
  background-color $badge_color !important


.hidden
  display none !important


.label-default
  background-color $badge_color !important


#release
  text-shadow black 1px 1px 1px

.panel-body
  ul
    list-style none

    li
      &:before
        color white
        content '\27a2'
        display inline-block
        font-weight bold
        margin-left -1em
        margin-right 1ex
        width 1em
